<div ng-controller='inputsController' class="container fill">
<!-- - - - -HEADER- - - - -->
    <!-- <div class='header'> -->
<!-- Show logout option for logged in users -->
    <!-- <div class='inline rightSide' ng-show='activeUser && !newUser'> -->
<!--     <div>
      <span class='bold'>{{user}}</span>
      <button ng-click='logout()' class='btn'>Log out</button>
    </div>
  </div> -->
<!-- - - - - -END OF HEADER- - - - -  -->


<!-- - - - -Start and End for user input- - - - -->
  <div id="mapAndListContainer" class="row section flex-s">
    <div class="col s12 l6" id='restaurantDiv'>
      <div ui-view='restaurantList' id="resList">
      </div>
    </div>
    <div class="col s12 l6 mapcontainer">
      <div id='map'>
      </div>
    </div>
  </div>
</div>
