@media (max-width: 992px) {
  .flex-s {
    /*display: flex;*/
    flex-direction: column; /* Stack on top */
  }
  .mapcontainer: {
    height: 300px;
  }
  #map: {
    float: none;
    height: 300px;
  }
  #restaurantDiv {
    order: 2; /* Go down, bring Box B up */
  }
}

.mapcontainer {

}

.container {
  height: 100%;
}

#restaurantDiv {
  height: 100%;
  /*overflow-y: scroll;*/
}


.flex-s {
  display: flex;
  /*flex-direction: row;*/
}

.fill {
  height: 100%
}



/*#mapcontainer {

}
*/
#map {
      /*width: 100%;*/
      height: 100%;
     }

.start {
  background-image:url('FoodTrip.png');
  background-size: cover;
  background-repeat:no-repeat;
  z-index:-10;
}


html {
  height: 100%;

  font-family: 'Titillium Web', sans-serif;
}

body {
  height: 100%;
}

.brand-logo {
  font-family:'Titillium Web', sans-serif;
  font-weight:700;
  font-size:36px;
  color:white;
 /* opacity:.95;*/
}

.material-icons {
  opacity:.9;
}


#routeSearch {
 width:80%;
 margin: 0 auto;
}

form label {
   color: #fafafa;

   display:flex;
}




.splashContainer {
  background: rgba(0,0,0,0.25);
  margin-top:60px;
  padding-bottom:40px;

}
.splashContainer .introText {
  padding-top: 30px;
  margin-bottom:20px;
  color: white;
  font-size:22px;
  font-weight:400;
}

#locationContainer {
  float:right;
}

.infoWindow {
  max-height: 12em;
}

#locationIcon {
  display:inline-block;
}

#locationtext {
 /*   font-weight:300;*/
  margin-left: .2em;
  font-size: 0.8rem;
}

.restaurantList {
  overflow-y: scroll;
  /*height: 100%;*/
  /*padding: 0;*/
  /*display: block;*/
}

.collection {
  margin: 0;
}

.restaurantName {
  font-weight: bold;
}

#submit {
  float:right;
}

.icontext {
  padding-right: .1em;
  padding-left: 1.2em;
}

i.start {
  border-radius: .6em;
  margin-right: .1em;
  position: absolute;
  margin-top: .1em;
}

i.cyan-text {
  margin-top: .2em;
}

div.scrolling-stop-list {
  max-height: 15em;
  overflow-y:auto;
}

div.form-header {
  height: 5em;
}

